GOOGLE_CLIENT_ID = your-google-client-id
GOOGLE_CLIENT_SECRET = your-google-client-secret
MONGODB_URI = mongodb-uri-to-store-data

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_URL_INTERNAL = http://localhost:3000
NEXTAUTH_SECRET = openssl-generated-next-auth-secret